* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

html,
body {
  height: auto;
  overflow: visible;
}

body {
  font-family:
    'Roboto',
    system-ui,
    -apple-system,
    sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 165%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 20px;
}